@font-face {
    font-family: Poppins;
    src: url(Poppins-Regular.ttf);
}
* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
}
.container {
    max-width: 350px;
    margin: auto;
}
.container .header {
    margin: 1em 0;
    text-align: center;
}
.container .header img {
    width: 75px;
}
.container .header h2 {
    text-align: center;
}



.container > p {
    text-align: center;
}



.game {
    display: none;/*block*/
    text-align: center;
    margin: 1.5em auto;
}
.game .wrapper {
    display: flex;
    width: 225px;
    overflow: hidden;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    position: relative;
}
.game .wrapper div {
    display: inline-block;
    width: 75px;
    height: 75px;
    background: transparent;
    margin: 0;
    padding: 0;
    position: relative;
    color: rgb(0, 110, 255);
    font-size: 60px;
    line-height: 75px;
    text-align: center;
}
.game .wrapper [class*="line"] {
    position: absolute;
    background-color: rgb(189, 189, 189);
    border-radius: 5px;
}
.game .wrapper .line1 {
    width: 100%;
    height: 5px;
    top: 72.5px;
}
.game .wrapper .line2 {
    width: 100%;
    height: 5px;
    top: 147.5px;
}
.game .wrapper .line3 {
    width: 5px;
    height: 100%;
    left: 72.5px;
}
.game .wrapper .line4 {
    width: 5px;
    height: 100%;
    left: 147.5px;
}
.game .wrapper #prevent {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 1;
}



.dashboard {
    width: 100%;
    display: none;/*flex*/
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 3em;
}
.dashboard .sign {
    font-size: 50px;
    margin: 0;
    color: rgb(0, 110, 255);
}
.dashboard .name {
    margin: 0;
    font-weight: bold;
}
.dashboard [class*='player'], .dashboard [class*='player'] * {
    text-align: center;
}
.dashboard .indicator {
    position: absolute;
    width: 60px;
    height: 5px;
    background-color: rgb(21, 255, 0);
    border-radius: 5px;
    bottom: 1.75em;
    left: 0;
    transition: left 0.2s ease-in-out;
}
.dashboard .score {
    color: rgb(0, 132, 255);
}
#winner1, #winner2, #draw {
    display: none;
    animation: animateColor 500ms ease-in-out infinite;
}
@keyframes animateColor {
    0% {
        color: rgb(0, 255, 128);
    }
    50% {
        color: rgb(72, 145, 255);
    }
    100% {
        color: rgb(0, 255, 128);
    }
}
.dashboard #draw {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.2em;
    font-weight: bold;
    transform: translate(-50%, -50%);
}



.game-controller {
    text-align: center;
}
.game-controller button, .choice button , .btn {
    border: none;
    padding: 0.5em 1.5em;
    border-radius: 50px;
    margin: 0.5em;
    position: relative;
    background: linear-gradient(150deg, rgb(0, 60, 255), rgb(65, 217, 255));
    color: white;
    font-size: 0.85em;
    overflow: hidden;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.438);
}
.game-controller button::after, .choice button::after , .btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 75%;
    top: 0;
    left: 80px;
    transform: rotateZ(40deg);
    background-color: rgba(255, 255, 255, 0.2);
    transition: left 0.2s linear;
}
.game-controller button:hover::after, .choice button:hover::after , .btn:hover::after {
    left: -5px;
}


.choice {
    display: none;
}

#chooseLevel {
    display: none;
}

.name-form {
    display: none;
}
#nameForm label {
    display: inline-block;
    width: 100%;
    margin: 0.5em 0;
}
#nameForm input {
    outline-width: 0;
}
#nameForm input[type="submit"] {
    margin: 1em 0.5em;
}